.card-center{
    /* width: 100vw;
    height: 100vh; */
    max-width: 80%;
    padding: 24px;
}

.sub-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-color-dark{
    color:#000;
}

.form-custom{
    display: flex;
    flex-direction: column;
    gap: 24px;
  
}